nav {
  background: rgb(20, 19, 22);
  font-size: 1.2em;
  color: #fff;
  z-index: 3;
  font-variant: small-caps;
  border-top: solid 3px rgb(80, 64, 231);
  border-bottom: solid 3px rgb(80, 64, 231);
}
li {
  list-style-type: none;
  margin: auto;
}
li:first-child {
  padding-left: 1em;
}
li > a:hover {
  font-size: 1.1em;
}
.active {
  color: rgb(80, 64, 231);
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 480px){
  li:first-child {
    padding-left: 0;
  }
  li > a {
    font-size: 0.81em;
    padding: 3px 6px;
  }
  li > a:hover {
    font-size: 0.81em;
  }
}