<h2 id="contact" #title>CONTACT ME</h2>
<div class="container">
  <h3 #message style="color: rgb(80, 64, 231);">Reach out today let us bring your vision to life</h3>
  <div class="col-md-6 col-xs-6" #row1>
    <a class="contact col-sm-4">
      <div data-target="#phone" data-toggle="collapse" class="info">
        <span>Phone</span><br>
        <i class="glyphicon glyphicon-phone"></i>
      </div>
      <div id="phone" class="collapse">07062860960 <br>08152941657</div>
    </a>
    <a href="#" class="contact col-sm-4">
      <span>facebook</span><br>
      <i class="glyphicon glyphicon-envelope"></i>
    </a>
    <a  href="" class="contact col-sm-4">
      <span>LinkedIn</span><br>
      <i class="glyphicon glyphicon-envelope"></i>
    </a>
  </div>
  <div class="col-md-6 col-xs-6" #row2>
    <a class="contact col-sm-4">
      <div data-target="#email" data-toggle="collapse" class="info">
        <span>Email</span><br>
        <i class="glyphicon glyphicon-envelope"></i>
        <div id="email" class="collapse">minetew@gmail.com</div>
      </div>
    </a>
    <a class="contact col-sm-4">
      <span>Twitter</span><br>
      <i class="glyphicon glyphicon-envelope"></i>
    </a>
    <a href="#" class="contact col-sm-4">
      <span>Github</span><br>
      <i class="glyphicon glyphicon-envelope"></i>
    </a>
  </div>
</div>