<div id="about" class="container">
  <h2 #title>ABOUT ME</h2>
  <div class="row" #firstrow>
    <div class="col-md-6 .flex">
      <div id="myPic" #profilepic></div>
      <div id="profiletext" class="caption slideup"><h4>Matt Holmes</h4>
        I build web apps that function on all devices using modern technologies and best
        practices for a superb user experience and satisfaction.
      </div>
    </div>
    <div class="col-md-6" style="margin-top: 6em; text-align: center;">
      <div class="row" #designs>
        <div class="col-md-4 col-sm-12 p-2">
          <div id="fast" class="img-small" #profilepic>
            <caption class="design-caption caption">Responsive &amp; Fast Design</caption>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 p-2">
          <div id="ui" class="img-small" #profilepic>
            <caption class="design-caption caption">UI/UX Design</caption>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 p-2">
          <div id="backend" class="img-small" #profilepic>
            <caption class="design-caption caption">Back-End Design</caption>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row" #row2>
    <div class="col-md-6 skills" #skills>
      <div class="skill-container d-inline-flex">
        <span class="label">HTML</span>
        <em>80%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 80%"></span>
        </div>
      </div>
      <div class="skill-container d-inline-flex">
        <span class="label">CSS</span>
        <em>70%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 70%"></span>
        </div>
      </div>
      <div class="skill-container d-inline-flex">
        <span class="label">JavaScript</span>
        <em>90%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 90%"></span>
        </div>
      </div>
      <div class="skill-container d-inline-flex">
        <span class="label">Nodejs</span>
        <em>70%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 70%"></span>
        </div>
      </div>
      <div class="skill-container d-inline-flex">
        <span class="label">MongoDB</span>
        <em>70%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 70%"></span>
        </div>
      </div>
      <div class="skill-container d-inline-flex">
        <span class="label">Angular</span>
        <em>70%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 70%"></span>
        </div>
      </div>
      <div class="skill-container d-inline-flex">
        <span class="label">Bootstrap 4</span>
        <em>75%</em>
        <div class="progress skill" #progress>
          <span class="progress-bar progress-bar-animated" style="width: 75%;"></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 slide col-xs-12" #slide>
      <img class="preview" #slideshow>
    </div>
  </div>
</div>